$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

body { 
    background-color: #F0F0F0;
}

body,html,#containerList{
  height: 100%;
  width: 100%;
  margin: 0;
}


#containerList{
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  box-shadow: 2px 2px #888888 ;
  min-height: 50vh;
  overflow: auto !important;
}


table{
  thead{
    font-weight: bold;
    font-size: 1.2em;
    background-color: #C2FCED;
  }   
    
  .edit{
    display: none;
  }

  tbody{
    label{
      font-weight: normal !important;

    }
  }

  tr:hover .destroy{
     display: inline-block;
  }

  .destroy{
      display: inline-block;
      float: right;
      outline: none;
      width: 12px;
      height: 12px;
      margin: auto 0;
      color: #cc9a9a;
      border: none;
      background: inherit;
    }
    
  .destroy:after{
    content: 'x';
    right: 10px;
    outline: none;
  }
}

.thumbnail{
    height: 180px;
    padding-top: 50px;  
    border: 8px solid;
    background-color: #FF5722;
    color: white;
    font-size: 1.5em;
    border-radius: 15px;
    position:relative;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #FFCCBC;
    color: #FFFFFF !important;
}

.card-title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: rgba(13, 66, 78, 0.48);
    color: white;
    border-radius: 0px 0px 5px 5px;
    
}

.center{
  text-align: center;
}

.right{
  float:right;
}
// Inline editing
tr.editing {
    .edit{
      display: block;
      padding: 2px;
      width: 100%;
      // background-color: #C4F6EE;
      border-radius:none !important;
      border: none;
      text-align: center;

    }
    
    .edit:focus{
      outline: none;
    }
    
    .view{
      display: none;
    }

    td{
      padding: 0px !important;
    }
}


.deleteLine{
    display: inline-block;
    outline: none;
    width: 20px;
    height: 20px;
    margin: auto 0;
    color: #cc9a9a;
    border: none;
    background: inherit;
  }
    
.update{
    display: inline-block;
    outline: none;
    width: 20px;
    height: 20px;
    margin: auto 0;
    color: #cc9a9a;
    border: none;
    background: inherit;
  }
    

.filter{
  width: 250px;
  margin:15px 0px;
}

.btn-container{
  text-align: center;
  padding-top: 10%;

  .title{
    color: #00829C;
  }

  #authorize-button{
    color: #5BB3F6;
    font-size: 1.5em;
  }
}

figure{
  text-align: center;
  padding-top: 10px;
  position: relative;

  img{
    opacity: 0.5;
    border: 1px solid white;
  }
}

#drawer{
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: rgba(255,99,71,0.9);
  z-index: 2000;
  transform: translate(-300px,0);
  transition: transform 0.3s ease;
}

#drawer.open {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}

// Sidebar
.sidebar-header{
  font-size: 40px;
}

.sidebar-nav{
  list-style: none;
  padding: 0px;

  li{
    height: 100%;
    font-size: 15px;
    padding: 10px 0px;
    border-top: 1px solid black;
  }

  li a{
    color: inherit;
    text-decoration: none;
  }
}
